# Ignoră toate upload-urile (recomandat pentru WordPress)
app/public/wp-content/uploads/

# SAU, dacă vrei să ignori doar fișierele temporare Simply Static
app/public/wp-content/uploads/simply-static/

# Exclude fișierul cu secretele locale
.env

# Exclude sesiunile (pentru Flask-Session)
/flask_session/
*.sqlite

# Exclude fișiere Python generate
__pycache__/
*.pyc

# Exclude mediile virtuale
/venv/
/env/